/**
  |============================
  |       Base stales
  |============================
*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color-text);
  background-color: var(--primary-background);
}
:root {
  --primary-background: #fff;
  --background-color: #2e2f42;
  --primary-color-text: #434455;
  --color-button: #4d5ae5;
  --background-color-portfolio: #f4f4fd;
  --color-button-nav: #404bbf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  |         Header stales
  |============================
*/

.header-nav {
  background: var(--primary-background);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  width: 1158px;
}
.header-nav .container {
  max-width: 1158px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav {
  max-width: 1158px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.link {
  text-decoration: none;
}

.header-logo-web {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-button);
  display: block;
  display: inline-block;
  margin-left: 156px;
  padding-right: 76px;
}
.header-logo-studio {
  color: var(--background-color);
}

.nav-link {
  color: var(--background-color);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-button-nav);
}

.nav-list-contacts {
  font-style: normal;
  display: block;
  display: inline-block;
}
.contacts-list {
  display: flex;
  width: 1158px;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  padding-left: 332px;
  padding-right: 40px;
}
.contacts-list-link {
  color: var(--primary-color-text);
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
  display: block;
  display: inline-block;
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--color-button-nav);
}

/**
  |============================
  |       Button stales
  |============================
*/
.button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background: var(--color-button);
  background-color: var(--color-button);
  color: var(--primary-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 188px;
  justify-content: center;
}

.button:hover,
.button:focus {
  background: var(--color-button-nav);
  color: var(--primary-background);
}

.button-portfolio {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: var(--color-button);
  background-color: var(--background-color-portfolio);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--color-button-nav);
  color: var(--primary-background);
}
.hero {
  background-color: var(--background-color);
  max-width: 1400px;
}

/**
  |============================
  |      Main-page stales
  |============================
*/
.main-page,
.portfolio {
  color: var(--primary-background);
  text-align: center;
  flex-shrink: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  display: block;
  align-items: center;
  max-width: 496px;
  padding-top: 188px;
  padding: auto;
  margin-bottom: 48px;
  margin: 0 auto;
}
.hero .container {
  max-width: 1158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 120px;
}

/**
  |============================
  |      Concept
  |============================
*/
.concept .container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0;
}
.concept-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: center;
  align-content: center;
  margin-left: 156px;
  margin-top: 0;
  margin-bottom: 120px;
  
}
.concept-item {
  flex-basis: calc((100% - 72px) / 4);
  justify-content: center;
}

.concept-title,
.portfolio-subtitle {
  color: var(--background-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: block;
  justify-content: center;
  margin-bottom: 8px;
 
}

.concept-text,
.portfolio-text {
  color: var(--primary-color-text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  display: block;
  justify-content: center;
}

.doing .container {
  max-width: 1128px;
  padding: 0;
  margin: 0;

}
.doing-list {
  gap: 24px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-left: 156px;
  padding-right: 156px;
  margin-top: 72px;
  margin-bottom: 120px;
}
.img-doing {
  display: block;
}

.title {
  color: var(--background-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: center;
  align-content: center;
}


/**
  |============================
  |      TEAM
  |============================
*/

.team .container {
  width: 1158px;
  padding: 0;
  margin: 0 auto;
  
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1158px;
}

.team-title {
  color: var(--background-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  display: block;
  align-items: center;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 72px;
  justify-content: center;
  align-content: center;

}

.card-heading {
  color: var(--background-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: block;
  justify-content: center;
  margin-bottom: 8px;
  align-content: center;
  margin-top: 32px;
  margin-bottom: 8px;
}
.card-desc {
  color: var(--primary-color-text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  display: block;
  justify-content: center;
  align-content: center;
  margin-bottom: 32px;
}
.team {
  background: var(--background-color-portfolio);
  max-width: 1400px;
}

.team-item {
  background: var(--primary-background);
  text-align: center;
  margin-bottom: 120px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  gap: 24px;
}


.item-card {
  background: var(--primary-background);
}
/**
  |============================
  |        Footer stales
  |============================
*/
.footer {
  background: var(--background-color);
  max-width: 1400px;
}

.footer .container {
  width: 1158px;
  padding: 0;
  margin: 0;
}

.footer-logo-web {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-button);
  display: block;
  display: inline-block;
  margin-left: 156px;
  margin-top: 101.5px;
  margin-bottom: 17.5px;
}

.footer-logo-studio {
  color: var(--background-color-portfolio);
  background-color: var(--background-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-portfolio);
  margin-left: 156px;
  padding-bottom: 100px;
  max-width: 264px;
}
